.modal-confirm {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  visibility: hidden;
  z-index: 100;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
  letter-spacing: 0;
}

.modal-confirm .modal-inner {
	position: relative;
  background-image: linear-gradient(to bottom, #dfdfdf, #cfcfcf);
  opacity: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  margin: 0 auto auto auto;
  word-wrap: break-word;
  max-width: 75%; 
  min-width: 50%;
}

.modal-confirm .modal-confirm-title {
  /* title larger than prompt */
  padding: 0 1.5em 0 1.5em;
  margin: 0 0 0 0; /* reset */
  color: #1DAAD1;
}
.modal-confirm .modal-confirm-prompt {
  padding: 1.5em 1.5em 1.5em 1.5em;
  color: #777;
}
.modal-confirm .modal-confirm-input {
  color: #777;
  outline-width: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Avenir Next';
  margin: .5em 10px 1em 10px;
}

.modal-confirm .bd {
  font-family: 'Avenir Next';
  white-space: pre-line;
  margin: auto 0 auto 0;
}
.modal-confirm .ft button {
  font-family: 'Avenir Next';
}
.modal-confirm .ft {
  display: flex;
  justify-content: center;
  vertical-align: bottom;
  width: 100%;
  padding: .1em 0 .1em 0;
}

.modal-confirm .button-pill {
  margin: 0 2vw 0 2vw;
  flex: 1 1 0;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: .9em 1em .7em 1em;
  text-transform: uppercase;
  min-width: 20vw;
  max-width: 32vw;
  max-height: 22vh;
  box-shadow: 0px 0px 6px 1px #999;
  vertical-align: bottom;
  text-align: center;
  word-wrap: normal;
}
.modal-confirm .button-pill:active {
  opacity: 1;
}
.modal-confirm .button-blue-pill {
  background-image: linear-gradient(to bottom, #26b8df, #1f9cd6);
}
.modal-confirm .button-blue-pill:active {
  background-image: linear-gradient(to bottom, #1d84ca, #1d9ec7);
}

.modal-confirm .button-red-pill {
  background-image: linear-gradient(to bottom, #f7632a, #de4210);
}
.modal-confirm .button-red-pill:active {
  background-image: linear-gradient(to bottom, #c93507, #eb4c0f);
}

.modal-confirm.modal-center .modal-inner {
  justify-content: center;
  margin: auto auto;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  min-height: 250px;
}

.modal-confirm.without-prompt .modal-inner {
  height: auto;
}
.modal-confirm.without-prompt .modal-inner .modal-confirm-prompt {
  display: none;
}
.modal-confirm.without-prompt .modal-inner .modal-confirm-title {
  margin-top: auto;
  margin-bottom: auto;
}
.modal-confirm.without-prompt .modal-inner .ft {
  align-self: flex;
}

.modal-small-font {
  font-size: 1.4em;
}
.modal-large-font {
  font-size: 2em;
}

@media screen and (max-width: 813px) {
  .modal-small-font {
    font-size: .9em;
  }
  .modal-large-font {
    font-size: 1.5em;
  }
  .modal-confirm.modal-center .modal-inner {
    min-height: 150px;
  }
}