.modal-confirm {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  display: flex; 
  justify-content: center;
  visibility: hidden;
  z-index: 100;
}

.modal-confirm-center {
  align-items: center;
}

.modal-confirm .modal-bg {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  background-color: #000; opacity: .4;
  cursor: pointer;
}

.modal-confirm .modal-inner {
  position: relative;
  top: -5000px;  /* hack to prevent dialog width from visibly jumping on iOS */
  background-image: linear-gradient(to bottom, #dfdfdf, #cfcfcf);
  opacity: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 2em;
  border-radius: 13px;
  max-width: 90%;
  height: auto;
  word-wrap: break-word;
}

.modal-confirm .modal-confirm-title {
  margin: 0 0 .5em 0;
  color: #1DAAD1;
}
.modal-confirm .modal-confirm-prompt {
  font-size: 20px;
  color: #777;
}
.modal-confirm .modal-confirm-input {
  font-size: 20px;
  color: #777;
  outline-width: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Avenir Next';
  margin: .5em 0 1em 0;
}

.modal-confirm .bd {
  font-family: 'Avenir Next';
  margin: 1em 0 2em 0;
  white-space: pre-line;
}
.modal-confirm .ft button {
  font-family: 'Avenir Next';
}

.modal-confirm .button-pill {
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: .9em 2em .7em 2em;
  text-transform: uppercase;
  min-width: 200px;
  font-size: 18px;
  box-shadow: 0px 0px 6px 1px #999;
}
.modal-confirm .button-pill:active {
  opacity: 1;
}
.modal-confirm .button-blue-pill {
  background-image: linear-gradient(to bottom, #26b8df, #1f9cd6);
  margin-left: .4em;
}
.modal-confirm .button-blue-pill:active {
  background-image: linear-gradient(to bottom, #1d84ca, #1d9ec7);
}

.modal-confirm .button-red-pill {
  background-image: linear-gradient(to bottom, #f7632a, #de4210);
  margin-right: .4em;
}
.modal-confirm .button-red-pill:active {
  background-image: linear-gradient(to bottom, #c93507, #eb4c0f);
}

.modal-confirm.without-prompt .modal-inner {
  justify-content: center;
  min-height: 200px;
  height: auto;
}
.modal-confirm.without-prompt .modal-inner .modal-confirm-prompt {
  display: none;
}
.modal-confirm.without-prompt .modal-inner .modal-confirm-title {
  margin-top: auto;
  margin-bottom: auto;
}
.modal-confirm.without-prompt .modal-inner .ft {
  align-self: flex;
}
