
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Avenir Next Bold';
  background-color: #525253;

  /* prevent page from scrolling inside the webview */
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;

  /* make text on page unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

button[disabled="true"] {
  visibility:hidden; !important;
}
button[disabled="true"]:active {
  opacity: .5;
  border: 1px solid transparent !important;
}
button:active {
  opacity: .6;
}
button:focus {
  outline: none;
}

.modal-slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.modal-slides .modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252627;
}

.modal-slides .modal-inner {
  position: relative;
  background-color: #5d5e5f;
  border: 1px solid #1fadda;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.modal-slides .hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 13%;
  padding: 0 3vh 0 1vh;
}

.modal-slides .hd .btn-close {
  display: inline-block;
  background: transparent;
  border: 0;
}

.modal-slides .btn-close img {
  width: auto;
  height: 10vh;
  padding: 1.5vh;
}

.modal-slides .modal-title {
  display: inline-block;
  color: #1fadda;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 7vh;
}

.modal-slides .bd {
  position: relative;
  height: 72%;
  width: 100%;
  overflow: hidden;
}

.modal-slides .ft {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  padding: 0 3vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 4vh;

  border-top: 1px solid;
  border-image: linear-gradient(to right, #5d5e5f, #868788 25%, #868788 75%, #5d5e5f);
  border-image-slice: 1;
  border-width: 1px 0 0 0;
}

.modal-slides .progress {
  color: #1fadda;
}

.modal-slides .nav-button {
  position: relative;
  color: #fff;
  border: 1px solid #1fadda;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #7d7b78, #6b6b6c);
  text-transform: uppercase;
  padding: .3em 0;
  display: flex;
  align-items: center;
  line-height: 1em;
}

.modal-slides .nav-button .arrow {
  display: inline-block;
  height: 1em;
  width: auto;
}
.modal-slides .nav-button.nav-button-back {
  text-align: right;
  padding-right: 1.4em;
}
.modal-slides .nav-button.nav-button-next {
  padding-left: 1.4em;
}
.modal-slides #btn-done {
  padding: .3em 1.6em;
}
.modal-slides #btn-done.hide {
  display: none;
}
.modal-slides #btn-next[disabled="true"] {
  position: absolute;
  visibility: hidden;
}
.modal-slides .nav-button .arrow.arrow-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: .4em;
  margin-left: 1.1em;
}
.modal-slides .nav-button .arrow.arrow-left {
  left: 8px;
  margin-left: .4em;
  margin-right: 1.1em;
}


.modal-slides .slide-strip {
  position: relative;
  list-style-type: none;
  height: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  transition: -webkit-transform .5s ease;
  -webkit-transform: translate3d(0,0,0);
}
.modal-slides.disable-slide-animation .slide-strip {
  transition: none;
}

.modal-slides .slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  font-size: 5vh;
}

#tutorial-modal .slide .slide-image {
  display: inline-block;
  height: 78%;
}

#tutorial-modal .slide .slide-image-label {
  position: absolute;
  width: 100%;
  top: 44%;
  text-align: center;
}

#tutorial-modal .slide .slide-image-label-text {
  display: inline-block;
  background: #fff;
  color: #000;
  padding: .4em .5em .2em .5em;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 3vh;
  font-family: "Avenir Next";
}


#tutorial-modal .slide .slide-label {
  position: relative;
  top: -1%;
  margin: 0;
  height: 20%;
  color: #d7d8d9;
  font-family: 'Avenir Next';
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: pre-line;
}

@media only screen and (max-width: 799px) {
  .modal-slides .nav-button {
    border-radius: 5px;
  }
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url("fonts/Fonts-latin/AvenirLTStd-Heavy.otf"); /* File to be stored at your site */
}
@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/Fonts-latin/AvenirLTStd-Medium.otf"); /* File to be stored at your site */
}
