html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}

body {
  font-family: 'Avenir Next';
  user-select: none;
  background-color: #5e5e5e;

  /* prevent page from scrolling inside the webview */
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;

  /* make text on page unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Turn off default tap higlighting so we can style our own */
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

button {font-family: 'Avenir Next Bold'; cursor: pointer;}

button:active,
a:active,
.clickable:active {
  opacity: .6;
}
button:focus {
  outline: none;
}

#projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #1fadda;
  visibility: hidden;
}

#projects .hd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 11vh;
  padding: 0 1.5vw;
  margin-bottom: 1vh;
  margin-top: 3vh;
  line-height: 7vh;
}
#projects .hd #app-title {
  font-weight: bold;
  font-size: 7vh;
  padding: 0 .3em 0 0;
}
#projects .hd #scratch-watermark {height: 50%; margin-right: 3vw;}
#projects .hd #btn-close-page {margin: 0 auto 0 0; padding: 2vh 1.5vh 1.5vh 1.5vh; width: 10vh;}
#projects .hd #btn-close-page img {width: 100%; height: 100%; -webkit-user-select: none; user-select: none; -webkit-user-drag: none; user-drag: none;}


#projects .bd {
  position: relative;
  height: 70vh;
  padding: 3vh 0 0 0;
  color: #fff;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

#projects .tab-hero {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  font-size: 3.5vh;
  margin-left: 0;
  margin-left: calc(env(safe-area-inset-left) / 2);
}

#projects .tab-hero .tab-hero-text {
  position: absolute;
  left: 8vh;
  bottom: 6vh;
  width: 85%;
  padding: 0 5% 0 0;
  line-height: 1.25em;
}

#projects .tab-hero .tab-hero-text .tab-hero-title {
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0;
  white-space: pre;
  line-height: 1.1em;
}
#projects .tab-hero .tab-hero-text .tab-hero-detail {
  margin: 1vh 0 0 0;
  font-weight: normal;
  color: #d2d3d4;
  font-family: 'Avenir Next';
  padding-right: .5vw;
}

#projects #horizontal-tab-hero {
  background-image: url(images/img_codeLab_horizontalBG.png);
  background-position: 30px -8px;
  background-size: 100%;
}
#projects #vertical-tab-hero {
  background-image: url(images/img_codeLab_verticalBG.png);
  background-position: top left;
  background-size: 100% auto;
}
#projects #featured-tab-hero {
  background-image: url(images/img_codeLab_featuredBG.png);
  background-size: 100%;
}




#projects #projects-list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  padding: 0 0 9vh 50%; /* use padding to shift so dragging hero img scrolls projects */
  padding: 0 0 9vh calc(50% + (constant(safe-area-inset-left) / 2)); /* Sam C. - const() for < iOS 11.2*/
  padding: 0 0 9vh calc(50% + (env(safe-area-inset-left) / 2)); /* Sam C. - iPhone X fix using iOS11 CSS property*/
  margin: 0;
  text-align: left;
  white-space: nowrap;
}
#projects-list li {
  max-height: 350px;
}

.project {
  position: relative;
  height: 100%;
  width: auto;
  min-width: 145px;
  white-space: normal;
  text-align: left;
  margin-right: 2vw;
  display: none;
  cursor: pointer;
  font-size: 3.6vh;
  line-height: 1.4em;
  color: #555657;
  text-transform: uppercase;
}
.project img {height: 100%; width: auto;}

.project .project-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 7% 7.5% 7%;
  line-height: 1.2em;
  overflow-wrap: break-word;
}
.project .project-title.long-title {
  font-size: .8em;
}

.project .project-type {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 80%;
  color: #fff;
  padding: 7% 0 0 7%;
}
.project .btn-delete-project {
  position: absolute;
  top: 2vh;
  right: 1vh;
  width: 8vh;
  height: 7vh;
}


.project-new {
  display: inline-block;
  margin-right: 4vw;
}

.project-new .new-project-label-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 7%;
  text-align: center;
}
.project-new .new-project-label {
  font-size: 102%;
}

.project.project-sample {
  display: inline-block;
  visibility: hidden;
}
.project.project-sample .project-type {
  color: rgb(191,189,173);
}
.project-sample .project-title {
  padding-right: 25%;
}

.project-sample .block {
  position: absolute;
  height: auto;
  cursor: pointer !important;
}
.project-sample .block-icon {
  position: absolute;
  height: auto;
  background-color: transparent;
  cursor: pointer;
}

.project-sample.horizontal .block {
  top: 20%;
  left: 3%;
  width: 70%;
}
.project-sample.horizontal .block-icon {
  top: 31%;
  left: 20%;
  width: 35%;
}

.project-sample.vertical .block {
  top: 45%;
  left: 13%;
  width: 49%;
}
.project-sample.vertical .block-icon {
  top: 16%;
  left: 14%;
  width: 35%;
}
.project.vertical .project-title {
  padding-bottom: 4%;
}


.project-featured .project-title {
  top: 2vh;
  color: #e3e4e5;
}
.project-featured .project-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 7% 5% 7%;
  text-transform: none;
  line-height: 1.3em;
  font-family: 'Avenir Next';
  color: #353535;
}
.project-featured .project-description.long-title {
  font-size: .8em;
}


#projects .ft {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  padding: 0;
  text-align: right;
  background-color: #575a5b;
  border-top: 1px solid #989899;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#tutorial-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  text-decoration: none;
  font-weight: bold;
  padding-top: .1em;
  height: 100%;
  color: #1fadda;

  display: none;
}

#tutorial-link #tutorial-label {
  display: inline-block;
  font-size: 5vh;
  margin-top: .2em;
}

#tutorial-link #tutorial-icon {
  width: 7vh;
  height: 7vh;
  margin-left: .9em;
}

#project-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-end;
  padding: 0 1vw;
}

#project-tabs .project-tab {
  display: inline-block;
  font-family: 'Avenir Next';
  font-size: 3.5vh;
  text-align: center;
  flex: 1 1 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 4.5vh 1vw 0 1vw;
  border-radius: 10px 10px 0 0;
  padding-top: 2vh;
}

#project-tabs .project-tab.tab-selected {
  border: 2px solid #fff;
  border-bottom: 0;
  margin-top: 3.5vh;
}

#featured-projects-tab {background-image: linear-gradient(to bottom, #ab3cd5, #8c36ba);}
#horizontal-projects-tab {background-image: linear-gradient(to bottom, #2db5da, #34add6);}
#vertical-projects-tab {background-image: linear-gradient(to bottom, #e3c02d, #d1b133);}

#projects.featured-projects-tab .featured-tab-visible {display: block;}
#projects.horizontal-projects-tab .horizontal-tab-visible {display:block;}
#projects.vertical-projects-tab .vertical-tab-visible {display: block;}

.vertical-tab-inline {display: none;}
.horizontal-tab-inline {display: none;}
#projects.featured-projects-tab .featured-tab-inline {display: inline-block;}
#projects.horizontal-projects-tab .horizontal-tab-inline {display: inline-block;}
#projects.vertical-projects-tab .vertical-tab-inline {display: inline-block;}




.button-plain {border: 0; background-color: transparent;}



@media screen and (min-height: 416px) {
  .project {
    font-size: 3.0vh;
    line-height: 1.2em;
  }
  #projects .tab-hero .tab-hero-text {
    font-size: 3.0vh;
  }
  #project-tabs .project-tab {
    font-size: 3vh;
  }
  .project.project-featured {
    font-size: 2.7vh;
  }
}

@media screen and (min-height: 769px) {
  .project {
    font-size: 2.5vh;
  }
  .project.project-featured {
    font-size: 2.1vh;
  }
}
