html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}

body {
  font-family: 'Avenir Next Bold';
  user-select: none;
  background-color: #525253;

  /* prevent page from scrolling inside the webview */
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;

  /* make text on page unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Turn off default tap higlighting so we can style our own */
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

button {font-family: 'Avenir Next Bold'; cursor: pointer;}

button:active,
a:active,
.clickable:active {
  opacity: .6;
}
button:focus {
  outline: none;
}


#projects {position: relative; width: 100%; height: 100vh; color: #1fadda; visibility: hidden;}

#projects .hd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  padding-left: 1.5vw;
}
#projects .hd #app-title {font-weight: bold; text-transform: uppercase; font-size: 7vh; padding: .1em .3em 0 0;}
#projects .hd #app-title-subtext {color: #707173; font-size: 3.5vh;}
#projects .hd #scratch-watermark {height: 50%; margin-right: 3vw;}
#projects .hd #btn-close-page {margin: 0 auto 0 0; padding: 1.5vh; width: 10vh;}
#projects .hd #btn-close-page img {width: 100%; height: 100%;}


#projects .bd {height: 70vh; padding: 5vh 0 0 0;}
#projects #projects-list {
  height: 100%; list-style-type: none; padding: 0 0 9vh 7vw; margin: 0; text-align: left;
  overflow-x: scroll; overflow-y: hidden; white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
#projects-list li {
  max-height: 350px;
}

.project {
  position: relative;
  height: 100%;
  width: auto;
  min-width: 145px;
  white-space: normal;
  text-align: left;
  margin-right: 1.25vw;
  display: none;
  cursor: pointer;
  font-size: 4.3vh;
}
.project img {height: 100%; width: auto;}

.project .project-title {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 0 7% 4% 7%;
  color: #fff;
  line-height: 1.2em;
  text-transform: capitalize;
}
.project .project-type {
  position: absolute;
  top: 0;
  width: 100%;
  color: #8A897D;
  font-size: 70%;
  padding: 10% 0 0 7%;
  text-transform: uppercase;
}
.project .btn-delete-project {
  position: absolute;
  top: 2vh;
  right: 2vh;
  width: 7vh;
  height: 7vh;
}

#new-project-label-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#project-new.project-new {
  display: inline-block;
}
#project-new #new-project-label {
  color: #fff;
  text-align: center;
  line-height: 1.1em;
  text-transform: capitalize;
  word-spacing: 9999px;  /* each word on its own line */
  margin-top: 5%;
  font-size: 110%;
}

.project.project-sample {
  display: inline-block;
  visibility: hidden;
}
.project.project-sample .project-type {
  color: rgb(191,189,173);
}
.project-sample .project-title {
  padding-right: 25%;
}
.project-sample .block {
  position: absolute;
  top: 20%;
  left: 3%;
  width: 70%;
  height: auto;
  cursor: pointer !important;
}
.project-sample .block-icon {
  position: absolute;
  top: 31%;
  left: 20%;
  width: 35%;
  height: auto;
  background-color: transparent;
  cursor: pointer;
}


#projects #projects-list .divider {
  display: inline-block;
  height: 100%;
  width: 2px;
  background-color: #767677;
  margin-right: 1vw;
}


#projects .ft {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  padding: 0 3vw;
  text-align: right;
  background-color: #575a5b;
  border-top: 1px solid #989899;
}

#projects .ft #tutorial-icon {
  width: 7vh;
  margin-left: .9em;
}

#tutorial-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4vh;
  padding-top: .1em;
  height: 100%;
  color: #1fadda;
}


.button-plain {border: 0; background-color: transparent;}
.button-blue-pill {
  border: 0;
  background-image: linear-gradient(to bottom, #7bc2ea, #598fd4);
  border-radius: 5px;
  color: #fff;
  padding: .7em 2em .5em 2em;
  margin: 0 1em;
  text-transform: uppercase;
}



.modal {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
  visibility: hidden;
}
.modal .modal-bg {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  background-color: #000; opacity: .4;
  cursor: pointer;
}
#delete-project-modal .modal-inner {
  position: relative;
  background-color: #fff; opacity: 1; text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1em 1em 1.5em 1em;
  border-radius: 10px;
}
#delete-project-modal #confirm-delete-title {
  margin: .5em;
  color: #64a3da;
}
#delete-project-modal .bd {
  font-family: 'Avenir Next';
  margin: 1em 0 2em 0;
  white-space: pre-line;
}
#delete-project-modal .ft button {
  font-family: 'Avenir Next';
}
#btn-cancel-delete-project {
  background-image: linear-gradient(to bottom, #da6b30, #bc4613);
}









@media screen and (min-height: 416px) {
  .project {
    font-size: 3.5vh;
  }
}

@media screen and (min-height: 769px) {
  .project {
    font-size: 3vh;
  }
}



@font-face {
  font-family: 'Avenir Next Bold';
  src: url("fonts/Fonts-latin/AvenirLTStd-Heavy.otf"); /* File to be stored at your site */
}
@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/Fonts-latin/AvenirLTStd-Medium.otf"); /* File to be stored at your site */
}

