# Misc
*~
*.d
*.cache
*.swp
matlab.mat

# Webots
*.wbproj
simulator/protos/CozmoEngineProtos-DO_NOT_MODIFY
simulator/controllers/webotsCtrlViz/webotsCtrlViz
simulator/controllers/webotsCtrlRobot/webotsCtrlRobot
simulator/controllers/webotsCtrlLightCube/webotsCtrlLightCube
simulator/controllers/webotsCtrlGameEngine/webotsCtrlGameEngine
simulator/controllers/webotsCtrlBuildServerTest/webotsCtrlBuildServerTest
simulator/controllers/webotsCtrlGameEngine/resources
simulator/controllers/webotsCtrlGameEngine/temp
simulator/controllers/webotsCtrlKeyboard/webotsCtrlKeyboard
simulator/plugins/physics/pluginPhysics/libpluginPhysics.dylib
simulator/plugins/physics/cozmo_physics/libcozmo_physics.dylib
simulator/worlds/__generated__.wbt

# Symlinks for face libraries:
simulator/controllers/webotsCtrlGameEngine/lib 
simulator/controllers/webotsCtrlGameEngine/libfsdk.dylib
simulator/controllers/webotsCtrlKeyboard/lib
simulator/controllers/webotsCtrlViz/lib

# Mac OS
*.DS_Store
# Xcode
*.mexmaci64
*.o
*.obj
*.so
*.la
*.a
*.ko
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# Xcode ignores
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
*.xccheckout
xcuserdata
*.moved-aside
DerivedData

# MSVC
*.res
*.user
*.suo
*.sdf
*.opensdf
*.ncb
*.exe
*.dll
*.lib
*.aps
*.layout
*.log
*.tlog
*.pdb
*.lastbuildstate
*.idb
*.ilk
*.pyc
*.mexw32
*.mexw64
*.mexmac
*.mexmaci64
*.ipch
*.asv
matlab/profiling/*
build/msvc*
build/xcode*
project/xcode4/Cozmo/Cozmo.xcodeproj/xcuserdata
project/xcode4/Cozmo/Cozmo.xcodeproj/project.xcworkspace/xcuserdata
build/*
screenshot.png
*.mvlib
*.shv*lib
movidiusTests/shaveTests2/output
*.asmgen
robot/evmMake/output
movidiusTests/dmaTests/output
ims.mat
robot/ld/objects.ldscript
movidiusTests/shaveTests3/output
interp2InnerLoop.asmgen-1155e305
robot/.settings
.com.apple.timemachine.supported
movidiusTests/shaveTests4/output/
CMakeFiles
visionUnitTestController
robot/robot.uvgui.anki
robot/robot_robot.dep
robot/robot_vision-tests.dep
robot/startup_stm32f429_439xx.lst
coretech/vision/robot/test/embeddedVisionTests - Copy.cpp
robot/robot_embedded-tests.dep
*.MikeAnderson
*.dep
*.map
*.lst
*.ini
robot/syscon/JLinkLog.txt
robot/chipSimulator/robot_chipSimulator.uvguix.anki
matlab/basicsResults.mat
matlab/basicsResults_input.mat
matlab/perTestStatsResults.mat
systemTests/tests/intermediate/
matlab/basicsResults_input*.mat
systemTests/tests/*.mat
matlab/recompileBasicsAllInput.mat
matlab/runParallelProcesses_input*.mat
matlab/nohup.out
systemTests/nohup.out
systemTests/recompileBasicsAllInput.mat
systemTests/runParallelProcesses_input*.mat
matlab/runParallelProcesses_mutex*.mat
matlab/perPoseAllInput.mat
out.txt
trainingState.mat
tmp.mat
tmp_allImages.mat
training.mat
._*
build_makefile
anki.cpp
anki.c
basestation/cozmo_sounds
a7_out.txt
/a7_out.txt.old
**.uvguix.*
probeTree_*.mat
build_ios
ios/CozmoVision/build
ios/CozmoVision/CozmoVision.xcodeproj/xcuserdata
coretech/vision/matlab/@VisionMarkerTrained/trainingState_*.*
tools/modulate_led/Project/LCD/MDK-ARM/Demo/
*.uvgui.*

# Unity
build_unity
unity/Cozmo/Builds
unity/Cozmo/Library
unity/Cozmo/Temp
unity/Cozmo/*.sln
unity/Cozmo/*.proj
unity/Cozmo/*.csproj
unity/Cozmo/*.userprefs
unity/Cozmo/*.obj
unity/Cozmo/obj/*

# Visual studio
*.userprefs
.vs

build_xcode/*.xcworkspace
build_xcode/game_osx
build_xcode/game_ios
build_xcode/game_sim
generated
unity/ios/UnityBuild
unity/ios/build
unity/ios/opencv
unity/ios/sphinx
unity/Cozmo/Assets/WellFired/shared.meta
unity/Cozmo/Assets/WellFired/shared/compiled.meta
unity/Cozmo/Assets/WellFired/shared/compiled/runtime.meta
unity/Cozmo/Assets/WellFired/shared/compiled/runtime/ProcessRunner.meta
unity/Cozmo/Assets/Scripts/Generated.meta
animationTool.zip
UnityDASDll/UnityDASDll/obj/*
UnityDASDll/UnityDASDll/bin/*

