# Misc
*~
*.d
*.cache
*.swp
matlab.mat

_build*/

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# build folders
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
_build/
buck-out/

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Visual Studio Code
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.vscode/

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Sublime Project Files
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*.sublime-*

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Webots
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*.wbproj
#
simulator/controllers/webotsCtrlViz/webotsCtrlViz
simulator/controllers/webotsCtrlViz/resources
simulator/controllers/webotsCtrlViz/saved_images
simulator/controllers/webotsCtrlViz/saved_state
#
simulator/controllers/webotsCtrlRobot2/webotsCtrlRobot2
simulator/controllers/webotsCtrlRobot2/resources
simulator/controllers/webotsCtrlRobot2/nvStorage
#
simulator/controllers/webotsCtrlAnim/webotsCtrlAnim
simulator/controllers/webotsCtrlAnim/resources
simulator/controllers/webotsCtrlAnim/persistent
#
simulator/controllers/webotsCtrlWebServer/webotsCtrlWebServer
simulator/controllers/webotsCtrlWebServer/resources
#
simulator/controllers/webotsCtrlLightCube/webotsCtrlLightCube
simulator/controllers/webotsCtrlLightCube/resources
#
simulator/controllers/webotsCtrlBuildServerTest/webotsCtrlBuildServerTest
#
simulator/controllers/webotsCtrlGameEngine2/webotsCtrlGameEngine2
simulator/controllers/webotsCtrlGameEngine2/resources
simulator/controllers/webotsCtrlGameEngine2/temp
simulator/controllers/webotsCtrlGameEngine2/persistent
#
simulator/controllers/webotsCtrlKeyboard/webotsCtrlKeyboard
simulator/controllers/webotsCtrlKeyboard/factory_test_logs
simulator/controllers/webotsCtrlKeyboard/resources
#
simulator/controllers/webotsCtrlDevLog/webotsCtrlDevLog
#
simulator/controllers/webotsCtrlNeuralNets/webotsCtrlNeuralNets
simulator/controllers/webotsCtrlNeuralNets/resources
#
simulator/controllers/webotsCtrlGateway/webotsCtrlGateway
simulator/controllers/webotsCtrlGateway/vic-gateway
#
simulator/plugins/physics/cozmo_physics/libcozmo_physics.dylib
simulator/worlds/__generated__.wbt
simulator/worlds/__GENERATED_FOR_*__.wbt
project/build-scripts/webots/__GENERATED_ANIMATIONS_TEST__.cfg


# Mac OS
*.DS_Store
# Xcode
*.mexmaci64
*.o
*.obj
*.so
*.la
*.a
*.ko
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# gradle
.gradle

# Android Studio
*.iml

# Xcode ignores
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
*.xccheckout
xcuserdata
*.moved-aside
DerivedData

# MSVC
*.res
*.user
*.suo
*.sdf
*.opensdf
*.ncb
*.exe
*.dll
*.lib
*.aps
*.layout
*.log
*.tlog
*.pdb
*.lastbuildstate
*.idb
*.ilk
*.pyc
*.mexw32
*.mexw64
*.mexmac
*.mexmaci64
*.ipch
*.asv
matlab/profiling/*
build/msvc*
build/xcode*
project/xcode4/Cozmo/Cozmo.xcodeproj/xcuserdata
project/xcode4/Cozmo/Cozmo.xcodeproj/project.xcworkspace/xcuserdata
build/*
screenshot.png
*.mvlib
*.shv*lib
movidiusTests/shaveTests2/output
*.asmgen
robot/evmMake/output
movidiusTests/dmaTests/output
ims.mat
robot/ld/objects.ldscript
movidiusTests/shaveTests3/output
interp2InnerLoop.asmgen-1155e305
robot/.settings
.com.apple.timemachine.supported
movidiusTests/shaveTests4/output/
CMakeFiles
visionUnitTestController
robot/robot.uvgui.anki
robot/robot_robot.dep
robot/robot_vision-tests.dep
robot/startup_stm32f429_439xx.lst
coretech/vision/robot/test/embeddedVisionTests - Copy.cpp
robot/robot_embedded-tests.dep
*.MikeAnderson
*.dep
*.map
*.lst
*.ini
robot/syscon/JLinkLog.txt
robot/chipSimulator/robot_chipSimulator.uvguix.anki
matlab/basicsResults.mat
matlab/basicsResults_input.mat
matlab/perTestStatsResults.mat
systemTests/tests/intermediate/
matlab/basicsResults_input*.mat
systemTests/tests/*.mat
matlab/recompileBasicsAllInput.mat
matlab/runParallelProcesses_input*.mat
matlab/nohup.out
systemTests/nohup.out
systemTests/recompileBasicsAllInput.mat
systemTests/runParallelProcesses_input*.mat
matlab/runParallelProcesses_mutex*.mat
matlab/perPoseAllInput.mat
out.txt
trainingState.mat
tmp.mat
tmp_allImages.mat
training.mat
._*
build_makefile
anki.cpp
anki.c
basestation/cozmo_sounds
a7_out.txt
/a7_out.txt.old
probeTree_*.mat
build_ios
ios/CozmoVision/build
ios/CozmoVision/CozmoVision.xcodeproj/xcuserdata
coretech/vision/matlab/@VisionMarkerTrained/trainingState_*.*
tools/modulate_led/Project/LCD/MDK-ARM/Demo/
*.uvgui.*

# Unity
build_unity
unity/Cozmo/Builds
unity/Cozmo/Library
unity/Cozmo/Temp
unity/Cozmo/*.sln
unity/Cozmo/*.proj
unity/Cozmo/*.csproj
unity/Cozmo/*.userprefs
unity/Cozmo/*.obj
unity/Cozmo/obj/*
unity/Cozmo/AssetBundles/*
unity/Cozmo/Assets/Resources/ThemeSystem/ThemesScriptableObj.asset
unity/Cozmo/Assets/Resources/ThemeSystem/ThemesScriptableObj.asset.meta

# Visual studio
*.userprefs
.vs

build_xcode/*.xcworkspace
build_xcode/game_osx
build_xcode/game_ios
build_xcode/game_sim
generated
unity/ios/UnityBuild
unity/ios/build
unity/ios/opencv
unity/ios/sphinx
unity/ios/HockeyApp
animationTool.zip
UnityDASDll/UnityDASDll/obj/*
UnityDASDll/UnityDASDll/bin/*

# pycharm
.idea

# Anki specific
EXTERNALS
TAGS
.subtreeconfig

#symlinks
resources/config/engine/firmware
resources/config/engine/old_firmware
resources/config/engine/firmware_*

# Misc
*.bak
# *.orig ## Going to try NOT ignoring these for awhile: if you don't need them, just delete them instead of hiding them
*~
*.d
*.cache
*.swp
*.TMP
.vagrant
.idea
*.swo
binary_cache
perf.data
symbol_cache
.projectile

# victor envsetup.sh
filelist


# MSVC
tools/**/bin
tools/**/obj

# Keil
*.saved_uv4
*.uvgui.*
**.uvguix.*
*.uvoptx.*
*.uvprojx.*
*.uvproj
robot/VERSION
uImage

# Ban .safe files, unless they're in the proper place (releases)
*.safe
!robot/**/releases/*.safe
!makesafe*.exe
!hex2bin.exe
**.bin
!robot/**/binaries/*.bin
!robot/**/releases/*.bin
fixture.build

robot/include/anki/cozmo/robot/version.h
robot/fixture/ankilog/Release
robot/fixture/ankilog/Debug
robot/fixture/ankilog/obj

robot/hal/dfu/dfu

buildMakefile

build_xcode_osx
build_xcode_ios
build_xcode_sim
c-source.txt
robot/build
robot/syscon/build
ankic.cpp
enjpeg-test
build.old
buildMakefile.old
include/anki/cozmo/shared/msgIDs.txt


**.output
# **.S - Find a better way to keep your build artifacts out of the tree - .S is used by embedded team for ASM
**.dump
*.htm
block/build/
block/lst/
robot/**/build/
rx-packet-log.txt
coretech/project/gyp/common-robot.lst
coretech/project/gyp/common-shared-test.lst
coretech/project/gyp/common-test.lst
coretech/project/gyp/common.lst
coretech/project/gyp/messaging-robot.lst
coretech/project/gyp/messaging.lst
coretech/project/gyp/planning-robot.lst
coretech/project/gyp/planning-standalone.lst
coretech/project/gyp/planning-test.lst
coretech/project/gyp/planning.lst
coretech/project/gyp/vision-robot.lst
coretech/project/gyp/vision-test.lst
coretech/project/gyp/vision.lst
project/gyp/pluginPhysics.lst
project/gyp/cozmoEngine-test.lst
project/gyp/cozmoEngine.lst
project/gyp/ctrlRobot.lst
project/gyp/ctrlViz.lst
project/gyp/clad.lst
project/gyp/robotGeneratedClad.lst
coretech/generated/ios
coretech/generated/mac
coretech/generated/android
generated/ios
generated/mac
generated/android
coretech/project/gyp/build
project/gyp/build
generated/clad
generated/cladPython
generated/webots/src/plugins/physics/physics.c
robot/generated/clad*
resources/config/faciometric
resources/config/basestation/vision/faciometric
generated/cladCsharp/clad
JLinkLog.txt
*.lst
robot/cube/lst/block.m51
resources/config/engine/AnkiLogStringTables.json
coretech/generated
unity/Cozmo/Assets/Resources/ThemeSystem/ThemesScriptableObj.asset
unity/metaReport*.txt

# Buck
**.buckd
**/buck-out
local.properties

# DAS
unity/Cozmo/Assets/StreamingAssets/DASConfig.json
unity/Cozmo/Assets/StreamingAssets/DASConfig.json.meta

#Copied LocalizedStrings For Boot Before Asset Bundles Load
unity/Cozmo/Assets/Resources/bootstrap/LocalizedStrings/
unity/Cozmo/Assets/Resources/bootstrap/LocalizedStrings.meta

# Code Lab
unity/Cozmo/Assets/StreamingAssets/Scratch/LocalizedStrings
unity/Cozmo/Assets/StreamingAssets/Scratch/LocalizedStrings.meta
unity/Cozmo/Assets/StreamingAssets/Scratch/fonts
unity/Cozmo/Assets/StreamingAssets/Scratch/fonts.meta
unity/Cozmo/Assets/StreamingAssets/Scratch/lib/closure-library
unity/Cozmo/Assets/StreamingAssets/Scratch/lib/closure-library.meta
unity/Cozmo/Assets/StreamingAssets/Scratch/lib/vm/dist/web/scratch-vm.js.map
unity/Cozmo/Assets/StreamingAssets/Scratch/lib/vm/dist/web/scratch-vm.js.map.meta
.vscode

# Xamarin
apps/xamarin/chewie/Droid/bin
apps/xamarin/chewie/Droid/obj
apps/xamarin/chewie/iOS/bin
apps/xamarin/chewie/iOS/obj
apps/xamarin/chewie/codelab.Droid/bin
apps/xamarin/chewie/codelab.Droid/obj
apps/xamarin/chewie/codelab.iOS/bin
apps/xamarin/chewie/codelab.iOS/obj
robot_ip.txt
