
#tutorial-frame-modal {
  display: block;
  padding: 0;
}

#tutorial-frame-modal .modal-inner {
  font-family: "Avenir Next";
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

#tutorial-frame-modal .modal-title {
  margin-left: auto;
}

#tutorial-frame-modal #btn-done {
  /* Hiding done button for challenges because the modal
   *  can't be closed from inside the iframe.
   */
  visibility:hidden !important;
}

#tutorial-frame-modal .slide .slide-image {
  display: inline-block;
  height: 74%;
  margin-bottom: 1vh;
}

#tutorial-frame-modal .slide .slide-image-label {
  position: absolute;
  width: 100%;
  top: 44%;
  text-align: center;
}

#tutorial-frame-modal .slide .slide-image-label-text {
  display: inline-block;
  background: #fff;
  color: #000;
  padding: .4em .5em .2em .5em;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 3vh;
  font-family: "Avenir Next";
}


#tutorial-frame-modal .slide .slide-label {
  position: relative;
  top: -1%;
  margin: 0;
  padding: 0 20px;
  height: 20%;
  color: #d7d8d9;
  font-family: 'Avenir Next';
  font-size: 4.5vh;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: pre-line;
}
