# ##############################################################################

# iCEcube PCF

# Version:            2015.04.27409

# File Generated:     Jul 6 2015 11:52:40

# Family & Device:    iCE5LP4K

# Package:            SWG36

# ##############################################################################

###IOSet List 2
set_io miso F2
set_io mosi D1

