# ##############################################################################

# iCEcube PCF

# Version:            2015.04.27409

# File Generated:     Jul 7 2015 21:04:08

# Family & Device:    iCE40LM4K

# Package:            SWG25TR

# ##############################################################################

###IOSet List 3
set_io sck D1
set_io sio C1
set_io scsn E1
