//
//  debug.xcconfig
//
//  Created by damjan stulic on 5/15/14.
//  Copyright (c) 2014 Anki. All rights reserved.
//
#include "project.xcconfig"

VALIDATE_PRODUCT = NO

OTHER_CPLUSPLUSFLAGS = $(OTHER_CPLUSPLUSFLAGS) -D_LIBCPP_DEBUG=0

CONFIGURATION_PREPROCESSOR_DEFINITIONS = PROFILE=1 _LIBCPP_DEBUG=0 NDEBUG

GCC_OPTIMIZATION_LEVEL = s
ONLY_ACTIVE_ARCH = NO
