[Unit]
Description=Victor neural nets daemon
SourcePath=/anki/bin/vic-neuralnets
PartOf=anki-robot.target

Wants=vic-engine.service
After=vic-engine.service

ConditionFileIsExecutable=/usr/bin/logwrapper
ConditionFileIsExecutable=/anki/bin/vic-neuralnets

[Service]
EnvironmentFile=/anki/etc/vic-neuralnets.env
Restart=no
ExecStart=/usr/bin/logwrapper /anki/bin/vic-neuralnets $VIC_VISION_CONFIG $VIC_DNN_MODELS $VIC_DNN_CACHE

[Install]
WantedBy=anki-robot.target