<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.anki.cozmo" 
      xmlns:tools="http://schemas.android.com/tools">
      
  <uses-sdk android:minSdkVersion="9" 
    tools:overrideLibrary="com.google.android.gms.base, 
    com.google.android.gms,
    com.google.android.gms.gcm,
    com.google.android.gms.iid,
    com.google.android.gms.tasks,
    com.google.android.gms.location,
    android.support.compat,
    android.support.coreui,
    android.support.coreutils,
    android.support.fragment,
    android.support.mediacompat,
    android.support.v4" />

  <application>
  </application>
</manifest>
