<html>
    <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Jockey+One" />
    <link rel="stylesheet" type="text/css" href="style.css" />
        
        <div id="wrapper">
            <div id="graphic-header">
                <p>Anki Accounts</p>
            </div>
            <div id="innerContent">
               <h2>Your Anki DRIVE password has been updated!</h2>
            </div><!-- END INNERCONTENT DIV -->
        </div><!-- END WRAPPER DIV -->  
        
  </body>
</html>
