<html>
    <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Jockey+One" />
    <link rel="stylesheet" type="text/css" href="style.css" />
        
        <div id="wrapper">
            <div id="graphic-header">
                <p>Anki Accounts</p>
            </div>
            <div id="innerContent">
                <h2>There was an error setting your new password.<br/>Please begin the password reset process again.</h2>
                <p>If you continue to have trouble resetting your password, please contact:<br><strong>Anki Support - <a href="mailto:support@anki.com">support@anki.com</a></strong></p>
            </div><!-- END INNERCONTENT DIV --> 
        </div><!-- END WRAPPER DIV -->  
        
  </body>
</html>