body {
	font-family:  'Avenir', Arial, Helvetica, sans-serif;
}
.ui-widget-content{
    background-color: #f5f5f5;
    background-image: linear-gradient(#ffffff, #f5f5f5);
    color:#104B87;
}

.ui-widget { font-family: 'Avenir', Arial, Helvetica, sans-serif;}

.perfmetricbutton {
  width:150px;
}

.consoleoutput {
  font-family:  'Avenir', Arial, 'Helvetica Neue',Helvetica, sans-serif;
  white-space: pre;
  font-size: 0.5em;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
#container{margin: 0 auto;}

#main_section{
    width: 800px;
    margin: 20px auto;
}

#status {
    position:fixed;
    bottom:10px;
    right:10px;
    font-size:20px;
    color:red;
}

#chartContainer {
    height: 300px;
    width: 100%;
	padding-bottom:40px;
}


ul.tabs {
    display: none;
}

#vision-title {
    display: none;
}
.vision-stat-label{
	font-size:14px;
	color:#0081c2;
	letter-spacing:5px;
	text-transform:uppercase;
	font-weight:500;
}

.vision-stat{
	font-size:40px;
	color:#104B87;
	font-weight:600;
}

.image-stat-container {
    display: inline-block;
    width:100%;
    padding-top:20px;
    text-align: center;
}

.stats-container{
	padding-top:20px;
	 width:100%;
	 height:400px;
	text-align: center;
}

.left {
    float:left;
    width:240px;
    height: auto;
}

.center {
    display: inline-block;
    margin:0 auto;
    width:240px;
    height: auto;
	padding:20px 20px 0;
}
.center-blank {
    display: inline-block;
    margin:0 auto;
    width:20px;
    height: auto;
	padding:0 20px;
}

.right {
    float:right;
    width:240px;
    height: auto;
    
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border: 2px solid #0081C2;
	background:none;
	color:#104B87;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{border-radius: 0px;}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
	border: 2px solid #0081C2;
	background:none;
	color:#104B87;}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{background:none !important; border: 2px solid #0081C2; color:#104B87;}


.hero-imgage-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:60px;
  letter-spacing:20px;
  font-weight:100;}
.centered-sub-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:15px;
  letter-spacing:10px;
  font-weight:300;}
