body {
	font-family: Arial, Helvetica, sans-serif;
}

.perfmetricbutton {
  width:150px;
}

.consoleoutput {
  font-family:  "Lucida Console", Monaco, monospace;
  white-space: pre;
  font-size: 0.5em;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
