/**
 * Global
 */
html {
    font-family: 'Avenir Next';
}

body {
    background: #535252;

    /* make text on page unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: none;
}

/**
 * Toolbox
 */
#toolbox {
    display: none;
}

/**
 * Blockly
 */
#blocks {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    /* Sam C. - Just adding padding causes the window to scroll horizontally - adjust the
    width back down inside the screen bounds to stop that */
    width: calc(100% - constant(env(safe-area-inset-left) / 2)); /* iOS 11.0*/
    width: calc(100% - calc(env(safe-area-inset-left) / 2)); /* iOS 11.2+*/
    height: 100%;
    font-family: 'Avenir Next';
    padding-left: 0;
    padding-left: calc(constant(safe-area-inset-left) / 2); /* iOS 11.0 */
    padding-left: calc(env(safe-area-inset-left) / 2); /* iOS 11.2+ */
}

/**
  * Close button
  */


#close {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    pointer-events: none;
}

#close .primary {
    display: block;
    position: absolute;
    top: 3vh;
    left: 2vw;
}

#close .primary button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/close.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#close .primary button:active {
    background-position:0px -4vw;
}

/**
 * Glossary buton
 */
#glossary-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#glossary-button .primary {
    position: absolute;
    top: 3vh;
    left: 8vw;
}

#glossary-button .primary button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/glossary.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#glossary-button .primary button:active {
    background-position: 0 -4vw;
}

/**
  * Export button
  */

#exportbtn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    pointer-events: none;
}

#exportbtn .primary {
    display: block;
    position: absolute;
    top: 3vh;
    left: 14vw;
}

#exportbtn .primary button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/export.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#exportbtn .primary button:active {
    background-position:0px -4vw;
}

/**
 * shared button attributes
 */

#close .primary button:after,
#glossary-button .primary button:after,
#exportbtn .primary button:after,
#navigation .greenflag button:after,
#navigation .stop button:after,
#undoRedo .redo button:after,
#undoRedo .undo button:after,
#zoomControls .zoomIn button:after,
#zoomControls .zoomOut button:after,
#zoomControls .zoomReset button:after {
    content:'';
    position:absolute;
    top:-10px; bottom:-10px; 
    left:-10px; right:-10px; 
}


/**
 * projecttext
 */
#projecttext {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 175px;
    z-index: 1;
    text-align: right;
    pointer-events: none;
}

#projecttext .primary {
    display: block;
    position: absolute;
    top: 0;
    width: 98%;
    text-align: right;
    height: 200px;
}

#projecttext .primary #app-title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(82, 82, 83, 0.5);
    border-radius: 0.4vw;
    color: #1fadda;
    max-width: calc(100vw - 280px);
    padding: .5em 0 .15em 0;
    pointer-events: all;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
#projecttext .primary #app-title.long-title {
    font-size: 24px;
}
#projecttext .primary #app-title.editable:before {
    display: inline-block;
    content: ' ';
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../images/ui/pencil.svg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
}


#projecttext .primary #app-title-subtext-line {
    position: relative;
    top: -2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#projecttext .primary #app-title-subtext {
    display: inline-block;
    color: #c0bfbf;
    font-size: 20px;
    background-color: rgba(82, 82, 83, 0.5);
    border-radius: 0.4vw;
    padding: 0 5px;
}

#projecttext #app-buttons {
  border-left: 2px solid #7b7c7d;
  padding-left: .4em;
  display: none;
}
#projecttext.is-title-set #app-buttons {
  display: inline-block;
}
#projecttext #app-buttons button {
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  background-size: 3vw 6vw;
  background-repeat: no-repeat;
  border: 0;
  pointer-events: all;
  margin: 0 0 0 5px;
  padding: 0;
}
#projecttext #app-buttons button:active {
  background-position: 0 -3vw;
}
#projecttext #app-buttons #remix-button {
  position: relative;
  top: 2px;
  background-image: url('../images/ui/btn_duplicate.svg');
}

/**
 * Navigation
 */
#navigation {
    display: block;
    position: absolute;
    top: 26vh;
    left: calc(100% - 7vw);
    width: 5%;
    height: 22vh;
    z-index: 1;
    pointer-events: none;
    border-width: 2px;
    border-bottom-width:2px;
    border-bottom-color: #777777;
    border-bottom-style: solid;
}

#navigation .greenflag {
    display: block;
    position: absolute;
    left:1vh;
}

#navigation .greenflag button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/greenflag.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
    padding: 0;
}

#navigation .greenflag button:active {
    background-position:0px -4vw;
}

.is-program-running #navigation .greenflag button {
    background-image: url('../images/ui/greenflag_playing_animation.gif');
}


#navigation .stop {
    display: block;
    position: absolute;
    top: 12vh;
    left:1vh;
}

#navigation .stop button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/stop.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#navigation .stop button:active {
    background-position:0px -4vw;
}

#navigation .stop button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}

/**
 * undoRedo
 */
#undoRedo {
    display: block;
    position: absolute;
    top: 49vh;
    left: calc(100% - 7vw);
    width: 5%;
    height: 20vh;
    z-index: 1;
    pointer-events: none;
    border-width: 2px;
    border-bottom-width:2px;
    border-bottom-color: #777777;
    border-bottom-style: solid;
}

#undoRedo .redo {
    display: block;
    position: absolute;
    left:1vh;
}

#undoRedo .redo button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../lib/blocks/media/rotate-right.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#undoRedo .redo button:active {
    background-position:0px -4vw;
}

#undoRedo .redo button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}

#undoRedo .undo {
    display: block;
    position: absolute;
    top: 10vh;
    left:1vh;
}

#undoRedo .undo button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../lib/blocks/media/rotate-left.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#undoRedo .undo button:active {
    background-position:0px -4vw;
}

#undoRedo .undo button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}

/**
 * zoomControls
 */
#zoomControls {
    display: block;
    position: absolute;
    top: 70vh;
    left: calc(100% - 7vw);
    width: 5%;
    z-index: 1;
    pointer-events: none;
}

#zoomControls .zoomIn {
    display: block;
    position: absolute;
    left:1vh;
}

#zoomControls .zoomIn button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../lib/blocks/media/zoom-in.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#zoomControls .zoomIn button:active {
    background-position:0px -4vw;
}

#zoomControls .zoomIn button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}

#zoomControls .zoomOut {
    display: block;
    position: absolute;
    top: 9vh;
    left:1vh;
}

#zoomControls .zoomOut button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../lib/blocks/media/zoom-out.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#zoomControls .zoomOut button:active {
    background-position:0px -4vw;
}

#zoomControls .zoomOut button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}

#zoomControls .zoomReset {
    display: block;
    position: absolute;
    top: 18vh;
    left:1vh;
}

#zoomControls .zoomReset button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../lib/blocks/media/zoom-reset.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#zoomControls .zoomReset button:active {
    background-position:0px -4vw;
}

#zoomControls .zoomReset button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}



@media only screen and (max-width: 799px) {
    #close .primary {
        display: block;
        position: absolute;
        top: 11px;
        left: 15px;
    }

    #close .primary button {
        width: 25px;
        height: 25px;
        /* We were seeing weird behavior where these buttons were being
           improperly sized as rectangles but only in safari on ios5.
           The buttons were coming out as 32x25, and cutting off the
           bottom 7 px.  Could not yet find a way to rescale them that
           would not also impact chrome and other device configurations.
           However, limiting the background size to 25, and preventing
           it from horizontally repeating visually fixed the issue. */
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #close .primary button:active {
        background-position:0px -25px;
    }


    #glossary-button .primary {
        display: block;
        position: absolute;
        top: 11px;
        left: 60px;
    }

    #glossary-button .primary button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #glossary-button .primary button:active {
        background-position:0px -25px;
    }


    #exportbtn .primary {
        display: block;
        position: absolute;
        top: 11px;
        left: 105px;
    }

    #exportbtn .primary button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #exportbtn .primary button:active {
        background-position:0px -25px;
    }


    #projecttext {
        width: 100%;
        height: 200px;
    }

    #projecttext .primary {
        width: 98%;
        height: 60px;
    }

    #projecttext .primary #app-title {
        font-size: 20px;
        max-width: calc(100vw - 160px);
        padding-bottom: 0;
    }
    #projecttext .primary #app-title.long-title {
      font-size: 16px;
    }
    #projecttext .primary #app-title.editable:before {
        width: 16px;
        height: 16px;
    }

    #projecttext .primary #app-title-subtext-line {
        top: -4px;
    }
    #projecttext .primary #app-title-subtext {
        font-size: 15px;
    }
    #projecttext #app-buttons #remix-button {
        height: 22px;
        width: 22px;
        background-size: 22px 44px;
    }
    #projecttext #app-buttons #remix-button:active {
        background-position: 0 -22px;
    }


    #navigation {
        top: calc(100% - 260px);
        left: calc(100% - 40px);
        height: 75px;
        width: 4.5%;
        border-width: 1px;
        border-bottom-width: 1px;
    }

    #navigation .greenflag button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #navigation .greenflag button:active {
        background-position:0px -25px;
    }

    .is-program-running #navigation .greenflag button {
        background-size: cover;
    }


    #navigation .stop {
        top: calc(100% - 35px);
    }

    #navigation .stop button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #navigation .stop button:active {
        background-position:0px -25px;
    }


    #undoRedo {
        height: 68px;
        top: calc(100% - 175px);
        left: calc(100% - 40px);
        width: 4.5%;
        border-width: 1px;
        border-bottom-width: 1px;
    }

    #undoRedo .redo button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #undoRedo .redo button:active {
        background-position:0px -25px;
    }

    #undoRedo .undo {
        top: calc(100% - 30px);
    }

    #undoRedo .undo button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #undoRedo .undo button:active {
        background-position:0px -25px;
    }


    #zoomControls {
        height: 100px;
        top: calc(100% - 100px);
        left: calc(100% - 40px);
    }

    #zoomControls .zoomIn button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #zoomControls .zoomIn button:active {
        background-position:0px -25px;
    }

    #zoomControls .zoomOut {
        top: calc(100% - 68px);
    }

    #zoomControls .zoomOut button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #zoomControls .zoomOut button:active {
        background-position:0px -25px;
    }

    #zoomControls .zoomReset {
        top: calc(100% - 35px);
    }

    #zoomControls .zoomReset button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #zoomControls .zoomReset button:active {
        background-position:0px -25px;
    }
}

/* Used by Kindle Fire HD 8, 962 x 601 */
@media only screen and (min-height: 590px) and (max-height: 605px) {
    #navigation {
        top: calc(100% - 490px);
        height: 150px;
   }

    #navigation .stop {
        top: calc(100% - 75px);
    }

    #undoRedo {
        top: calc(100% - 345px);
        height: 140px;
    }

    #undoRedo .redo {
        top: calc(100% - 125px);
    }

    #undoRedo .undo {
        top: calc(100% - 65px);
    }

    #zoomControls {
        height: 200px;
        top: calc(100% - 200px);
    }

    #zoomControls .zoomIn {
        top: calc(100% - 190px);
    }

    #zoomControls .zoomOut {
        top: calc(100% - 130px);
    }

    #zoomControls .zoomReset {
        top: calc(100% - 70px);
    }
}

@media only screen and (max-height: 330px) {
  #projecttext .primary #app-title-subtext-line {
    top: -4px;
  }
  #projecttext #app-buttons #remix-button {
    top: 0;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    background-size: 20px 40px;
  }
  #projecttext #app-buttons #remix-button:active {
    background-position: 0 -20px;
  }

  #projecttext .primary #app-title {
    padding-top: 6px;
    margin-right: 2px;
  }

  #projecttext .primary #app-buttons {
    height: 20px;
  }

}

/**
 * Hide the blockly contents while showing the play now modal
 * NOTE: any new divs in the html body will need to have the same changes applied to them.
 */
.show-play-now-modal #blocks {
    /** 
     * We want this to have a layout for blockly spacing calculations
     * But not to render in the background to improve performance / not look broken on iOS 9 devices
     * If display:hidden; is used here, the flyout height (and theoretically any other things based on
     * workspace metrics) will break
     */
    visibility: hidden;
}

.show-play-now-modal #close {
    display: none;
}

.show-play-now-modal #glossary-button {
    display: none;
}

.show-play-now-modal #exportbtn {
    display: none;
}

.show-play-now-modal #navigation {
    display: none;
}

.show-play-now-modal #undoRedo {
    display: none;
}

.show-play-now-modal #zoomControls {
    display: none;
}

.show-play-now-modal #projectText {
    display: none;
}