/**
 * Global
 */
html {
    font-family: 'Avenir Next';
}

body {
    background: #334771;

    /* make text on page unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: none;
}

/**
 * Toolbox
 */
#toolbox {
    display: none;
}

/**
 * Blockly
 */
#blocks {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Avenir Next';
}

.blocklyMainBackground {
    stroke: none !important;
}

.blocklyFlyoutScrollbar {
    z-index: 30;
}

.blocklyScrollbarHorizontal {
    position: absolute;
    outline: none;
}

.blocklyScrollbarVertical {
    display: none !important;
}

.blocklyScrollbarBackground {
    opacity: 0.2;
}

.blocklyScrollbarHandle {
    fill: #817e7e;
}

.blocklyTooltipDiv {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #000;
    display: none;
    font-family: "Avenir Next";
    font-size: 14pt;
    padding: 4px;
    position: absolute;
    z-index: 100000; /* big value for bootstrap3 compatibility */
}

/**
  * Close button
  */

#close {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    pointer-events: none;
}

#close .primary {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

#close .primary button {
    width: 100px;
    height: 100px;
    border: 1px solid #535252;
    margin-left: -1px;
    background-color: #535252;
    background-image: url('../images/ui/ui_icon_close_up.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 75%;
    transition: background-color 100ms;
    pointer-events: auto;
}

#close .primary button:active {
    background-image: url('../images/ui/ui_icon_close_down.svg');
}

/**
  * Challenges button
  */

#challenges {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    pointer-events: none;
}

#challenges .primary {
    display: block;
    position: absolute;
    top: 10px;
    left: 100px;
}

#challenges .primary button {
    width: 100px;
    height: 100px;
    border: 1px solid #535252;
    margin-left: -1px;
    background-color: #535252;
    background-image: url('../images/ui/challenges_up.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 75%;
    transition: background-color 100ms;
    pointer-events: auto;
}

#challenges .primary button:active {
    background-image: url('../images/ui/challenges_down.svg');
}

/**
 * projecttext
 */
#projecttext {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 175px;
    z-index: 1;
    pointer-events: none;
    text-align: right;
}

#projecttext .primary {
    display: block;
    position: absolute;
    top: 25px;
    width: 98%;
    text-align: right;
    height: 200px;
}

#projecttext .primary #app-title {
    font-weight: bold;
    font-size: 5vh;
    background-color: #525253;
    color: #1fadda;
}

#projecttext .primary #app-title-subtext {
    color: #c0bfbf;
    font-size: 3.5vh;
    background-color: #525253;
}

/**
 * Navigation
 */
#navigation {
    display: block;
    position: absolute;
    top: calc(100% - 350px);
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    pointer-events: none;
}

#navigation .greenflag {
    display: block;
    position: absolute;
    left: calc(100% - 90px);
}

#navigation .greenflag button {
    display: block;
    position: relative;
    width: 72px;
    height: 72px;
    background-color: #535252;
    background-image: url('../images/ui/greenflag-up.svg');
    border: 1px solid #535252;
    pointer-events: auto;
}

#navigation .greenflag button:active {
    background-image: url('../images/ui/greenflag-down.svg');
}

#navigation .greenflag button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}

#navigation .stop {
    display: block;
    position: absolute;
    left: calc(100% - 90px);
    top: 75px;
}

#navigation .stop button {
    display: block;
    position: relative;
    width: 72px;
    height: 72px;
    background-color: #535252;
    background-image: url('../images/ui/stop-up.svg');
    border: 1px solid #535252;
    pointer-events: auto;
}

#navigation .stop button:active {
    background-image: url('../images/ui/stop-down.svg');
}

#navigation .stop button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}

/* Challenges */

#challenges-frame-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#challenges-frame-container #challenges-frame-modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #000;
  z-index: 99;
}

#challenges-frame-container #challenges-frame {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2.0vh 2.0vw;
  width: 95vw;
  height: 94vh;

  background-color: #525252;
  border: 2px solid #1fadda;
  border-radius: 10px;
  z-index: 100;
  overflow: hidden;
  padding: 2px;
}

#challenges-frame-container #btn-close-challenges {
  z-index: 101;
  position: absolute;
  top: 3.5vh;
  left: 3vw;
  border: none;
  background-color: #535252;
  padding: .5vw;
}

#challenges-frame-container #btn-close-challenges img {
  width: 4.5vw;
  height: auto;
}




@media only screen and (max-width: 799px) {
    #navigation {
        top: calc(100% - 250px);
    }

    #close .primary {
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    #close .primary button {
        width:44px;
        height:44px;
    }

    #challenges .primary {
        display: block;
        position: absolute;
        top: 5px;
        left: 55px;
    }

    #challenges .primary button {
        width:44px;
        height:44px;
    }

    #projecttext {
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }

    #projecttext .primary {
        top: 10px;
        width: 98%;
        height: 60px;
    }

    #navigation .greenflag {
        left: calc(100% - 55px);
        top: calc(100% - 170px);;
    }

    #navigation .greenflag button {
        width:44px;
        height:44px;
    }

    #navigation .stop {
        left: calc(100% - 55px);
        top: calc(100% - 125px);;
    }

    #navigation .stop button {
        width:44px;
        height:44px;
    }

    .blocklyTooltipDiv {
        font-size: 10pt;
    }
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url("../extra/fonts/Fonts-latin/AvenirLTStd-Heavy.otf"); /* File to be stored at your site */
}
@font-face {
  font-family: 'Avenir Next';
  src: url("../extra/fonts/Fonts-latin/AvenirLTStd-Medium.otf"); /* File to be stored at your site */
}
