/**
 * Global
 */
html {
    font-family: 'Avenir Next';
}

body {
    background: #535252;

    /* make text on page unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: none;
}

/**
 * Toolbox
 */
#toolbox {
    display: none;
}

/**
 * Blockly
 */
#blocks {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Avenir Next';
}

/**
  * Close button
  */


#close {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    pointer-events: none;
}

#close .primary {
    display: block;
    position: absolute;
    top: 3vh;
    left: 2vw;
}

#close .primary button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/close.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#close .primary button:active {
    background-position:0px -4vw;
}

/**
  * Challenges button
 */

#challenges {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#challenges .primary {
    position: absolute;
    top: 3vh;
    left: 8vw;
}

#challenges .primary button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/challenges.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#challenges .primary button:active {
    background-position: 0 -4vw;
}

/**
  * Tutorials button
  */

#tutorial {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    pointer-events: none;
}

#tutorial .primary {
    display: block;
    position: absolute;
    top: 3vh;
    left: 14vw;
}

#tutorial .primary button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/tutorials.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#tutorial .primary button:active {
    background-position:0px -4vw;
}

/**
  * Export button
  */

#exportbtn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    pointer-events: none;
}

#exportbtn .primary {
    display: block;
    position: absolute;
    top: 3vh;
    left: 20vw;
}

#exportbtn .primary button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/export.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#exportbtn .primary button:active {
    background-position:0px -4vw;
}

/**
 * shared button attributes
 */

#close .primary button:after,
#challenges .primary button:after,
#tutorial .primary button:after,
#exportbtn .primary button:after,
#navigation .greenflag button:after,
#navigation .stop button:after {
    content:'';
    position:absolute;
    top:-10px; bottom:-10px; 
    left:-10px; right:-10px; 
}

/**
 * projecttext
 */
#projecttext {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 175px;
    z-index: 1;
    text-align: right;
    pointer-events: none;
}

#projecttext .primary {
    display: block;
    position: absolute;
    top: 0;
    width: 98%;
    text-align: right;
    height: 200px;
}

#projecttext .primary #app-title {
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
    background-color: #525253;
    color: #1fadda;
    max-width: calc(100vw - 350px);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: .4em 0 .1em 0;
    pointer-events: all;
}
#projecttext .primary #app-title.long-title {
    font-size: 24px;
}
#projecttext .primary #app-title.editable:before {
    display: inline-block;
    content: ' ';
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../images/ui/pencil.svg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
}


#projecttext .primary #app-title-subtext-line {
    position: relative;
    top: -2px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#projecttext .primary #app-title-subtext {
    display: inline-block;
    color: #c0bfbf;
    font-size: 20px;
    background-color: #525253;
    padding: 0 5px;
}

#projecttext #app-buttons {
  border-left: 2px solid #7b7c7d;
  padding-left: .4em;
  display: none;
}
#projecttext.is-title-set #app-buttons {
  display: inline-block;
}
#projecttext #app-buttons button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-size: 30px 60px;
  background-repeat: no-repeat;
  border: 0;
  pointer-events: all;
  margin: 0 0 0 5px;
  padding: 0;
}
#projecttext #app-buttons button:active {
  background-position: 0 -30px;
}
#projecttext #app-buttons #remix-button {
  position: relative;
  top: 2px;
  background-image: url('../images/ui/btn_duplicate.svg');
}

/**
 * Navigation
 */
#navigation {
    display: block;
    position: absolute;
    top: 24vh;
    left: calc(100% - 6vw);
    width: 5%;
    height: 170px;
    z-index: 1;
    pointer-events: none;
}


#navigation .greenflag {
    display: block;
    position: absolute;
}

#navigation .greenflag button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/greenflag.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
    padding: 0;
}

#navigation .greenflag button:active {
    background-position:0px -4vw;
}

.is-program-running #navigation .greenflag button {
    background-image: url('../images/ui/greenflag_playing_animation.gif');
}


#navigation .stop {
    display: block;
    position: absolute;
    top: 14vh;
}

#navigation .stop button {
    display: block;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    background-image: url('../images/ui/stop.svg');
    background-size: cover;
    pointer-events: auto;
    border: 0;
}

#navigation .stop button:active {
    background-position:0px -4vw;
}

#navigation .stop button img {
    width: 100%;
    height: 100%;
    margin: 0px 0 0 1px;
}

/* Challenges */

#challenges-frame-container {
    position: absolute;
  top: 0;
  left: 0;
    width: 100%;
    height: 100%;
  display: none;
}

#challenges-frame-container #challenges-frame-modal-bg {
    position: absolute;
  top: 0;
  left: 0;
    width: 100%;
    height: 100%;
  opacity: .5;
  background-color: #000;
  z-index: 99;
}

#challenges-frame-container #challenges-frame {
    position: absolute;
  top: 0;
  left: 0;
  margin: 2.0vh 2.0vw;
  width: 95vw;
  height: 94vh;
  background-color: #525252;
  border: 2px solid #1fadda;
  border-radius: 10px;
  z-index: 100;
  overflow: hidden;
  padding: 2px;
}

#challenges-frame-container #btn-close-challenges {
  z-index: 101;
    position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  padding: 3vw 3vw 3vw 4vw;
  z-index: 999;
}

#challenges-frame-container #btn-close-challenges img {
  width: 4.5vw;
  height: auto;
}

/* Tutorial */

#tutorial-frame-container {
  position: absolute;
  top: 0;
  left: 0;
    width: 100%;
    height: 100%;
  display: none;
}

#tutorial-frame-container #tutorial-frame-modal-bg {
    position: absolute;
  top: 0;
  left: 0;
    width: 100%;
    height: 100%;
  opacity: .5;
  background-color: #000;
  z-index: 99;
}

#tutorial-frame-container #tutorial-frame {
    position: absolute;
  top: 0;
  left: 0;
  margin: 2.0vh 2.0vw;
  width: 95vw;
  height: 94vh;

  background-color: #5d5e5f;
  border: 2px solid #1fadda;
  border-radius: 10px;
  z-index: 100;
  overflow: hidden;
  padding: 3px;
}

#tutorial-frame-container #btn-close-tutorial {
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
    background-color: transparent;
  padding: 3vw 3vw 3vw 4vw;
  z-index: 999;
}

#tutorial-frame-container #btn-close-tutorial img {
  width: 4.5vw;
  height: auto;
}



@media only screen and (max-width: 799px) {
    #close .primary {
        display: block;
        position: absolute;
        top: 11px;
        left: 15px;
    }

    #close .primary button {
        width: 25px;
        height: 25px;
        /* We were seeing weird behavior where these buttons were being
           improperly sized as rectangles but only in safari on ios5.
           The buttons were coming out as 32x25, and cutting off the
           bottom 7 px.  Could not yet find a way to rescale them that
           would not also impact chrome and other device configurations.
           However, limiting the background size to 25, and preventing
           it from horizontally repeating visually fixed the issue. */
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #close .primary button:active {
        background-position:0px -25px;
    }


    #challenges .primary {
        display: block;
        position: absolute;
        top: 11px;
        left: 60px;
    }

    #challenges .primary button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #challenges .primary button:active {
        background-position:0px -25px;
    }


    #tutorial .primary {
        display: block;
        position: absolute;
        top: 11px;
        left: 105px;
    }

    #tutorial .primary button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #tutorial .primary button:active {
        background-position:0px -25px;
    }


    #exportbtn .primary {
        display: block;
        position: absolute;
        top: 11px;
        left: 150px;
    }

    #exportbtn .primary button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #exportbtn .primary button:active {
        background-position:0px -25px;
    }


    #projecttext {
        width: 100%;
        height: 200px;
    }

    #projecttext .primary {
        width: 98%;
        height: 60px;
    }

    #projecttext .primary #app-title {
        font-size: 20px;
        max-width: calc(100vw - 195px);
        padding-bottom: 0;
    }
    #projecttext .primary #app-title.long-title {
      font-size: 16px;
    }
    #projecttext .primary #app-title.editable:before {
        width: 16px;
        height: 16px;
    }

    #projecttext .primary #app-title-subtext-line {
        top: -4px;
    }
    #projecttext .primary #app-title-subtext {
        font-size: 15px;
    }
    #projecttext #app-buttons #remix-button {
        height: 22px;
        width: 22px;
        background-size: 22px 44px;
    }
    #projecttext #app-buttons #remix-button:active {
        background-position: 0 -22px;
    }

    #navigation {
        top: calc(100% - 260px);
        left: calc(100% - 40px);
        height: 75px;
        width: 4.5%;
        border-width: 1px;
        border-bottom-width: 1px;
    }

    #navigation .greenflag button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #navigation .greenflag button:active {
        background-position:0px -25px;
    }

    .is-program-running #navigation .greenflag button {
        background-size: cover;
    }


    #navigation .stop {
        top: calc(100% - 35px);
    }

    #navigation .stop button {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 50px;
    }

    #navigation .stop button:active {
        background-position:0px -25px;
    }

    .blocklyTooltipDiv {
        font-size: 10pt;
    }
}



/* Used by Kindle Fire HD 8, 962 x 601 */
@media only screen and (min-height: 590px) and (max-height: 605px) {
    #navigation {
        top: calc(100% - 490px);
        height: 150px;
   }

    #navigation .stop {
        top: calc(100% - 75px);
    }
}