body.show-glossary-modal {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body.show-glossary-modal #glossary-modal {
  display: block;
}

#glossary-modal {
  box-sizing: border-box;
}
#glossary-modal *, #glossary-modal *:before, #glossary-modal *:after {
  box-sizing: inherit;
}

#glossary-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  overflow: hidden;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#glossary-modal .modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background-color: #000;
}

#glossary {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  z-index: 40;
  border: 2px solid #000;
  border-radius: 15px;
  overflow: hidden;
  background-color: #bfc0c1;
  padding: 20px;
}

#glossary .hd {
  color: #22a9d8;
  text-align: right;
  font-size: 2.5rem;
  padding-bottom: 15px;
  font-family: 'Avenir Next Bold';
}

#glossary .close-button {
  display:inline-block;
  float:left;
  font-size: 50%;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: transparent;
  border: 0;

  background-image: url('../images/ui/close_glossary.svg');
  background-size: cover;
}

#glossary .close-button:active {
  background-position: 0 -48px;
}

#glossary .bd {
  clear: left;
  display: flex;
  height: calc(100% - 75px);
  overflow: hidden;
}
#glossary .bd #definitions-outer {
  clear: left;
  flex: 1 1 auto;
}
#glossary .bd #glossary-categories {
  flex: 0 0 auto;
  overflow-y: scroll;
}

.block .block-name {
  margin: 0;
}


#glossary .category-color {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
}

#glossary .category-list {
  margin: 0;
  padding: 0;
}

#glossary .category-list .category {
  margin: 5px;
  text-transform: uppercase;
  font-size: .8em;
  list-style-type: none;
  cursor: pointer;
  line-height: 1.6em;
  margin: 0;
  padding: 14px 20px 10px 0;
  border-bottom: 1px solid #afb1b1;
  background-image: radial-gradient(circle at bottom, #b0b1b2 0%, #bcbdbe 60%);
}

#glossary .category-list .category.selected {
  position: relative;
}

#glossary .category-list .category.selected::before {
  content: '';
  position: absolute;
  top: 22px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #dbdcdd;
}

#glossary .category-list .category .category-bubble {
  display: block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 5px;
  margin: 0 8px 3px 0;
}

#glossary #definitions-outer {
  padding: 15px 20px;
  background-color: #dbdcdd;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}

#glossary #definitions {
  color: #515253;
  background-color: #dbdcdd;
  margin: 0;
  min-height: 100%;
  padding-right: 20%;
}

#glossary .injectionDiv {
  overflow-y: visible;
  height: auto;
}

#glossary #definitions svg {
  display: block;
  opacity: 1;
  overflow: visible;
}

#glossary .block-def-container {
  margin-bottom: 30px;
}

#glossary .block-def-container .block-def-title {
  font-family: "Avenir Next Bold";
  margin-top: 0;
  margin-bottom: 5px;
}

#glossary .block-def-container .block-def-description {
  font-family: "Avenir Next";
  font-size: 1rem;
  line-height: 1.3em;
  margin-top: 10px;
}

@media only screen and (max-width: 799px) {
  #glossary {
    padding: 15px;
  }
  #glossary .hd {
    height: 40px;
    padding-bottom: 0;
  }
  #glossary .bd {
    height: calc(100% - 40px);
  }
  #glossary #glossary-title {
    font-size: 1.5rem;
  }
  #glossary .close-button {
    width: 30px;
    height: 30px;
  }
  #glossary .close-button:active {
    background-position: 0 -30px;
  }
  #glossary #definitions-outer {
    padding: 15px 5px 15px 15px;
  }
  #glossary #glossary-categories {
    zoom: .8;
  }
  #glossary #definitions {
    padding-right: 5%;
    zoom: .75;
  }


}
