
.show-play-now-modal #play-now-modal {
  display: block;
}

#play-now-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #5d5e5f;
}

#play-now-modal .bd {
  display: flex;
  flex-direction: row;
  height: 86vh;
}
#play-now-modal .bd .col {
  position: relative;
  flex: 0 1 auto;
  width: 50%;
  height: 84vh;
}
#play-now-modal .bd .col.col-left {
  text-align: center;
  width: 55%;
}
#play-now-modal .bd .col.col-right {
  position: relative;
  padding-right: 4vh;
}

#play-now-modal .project-img {
  width: 35vw;
  height: 35vw;
  display: block;
  margin: 0 auto;
}

#play-now-modal .project-img:not([src]) {
  visibility: hidden;
}

#play-now-modal .instructions-label {
  font-size: 1.25em;
  margin-top: 0;
  color: #eaeaea;
  margin: 0;
}
#play-now-modal .instructions-text {
  font-size: 1em;
  color: #d4d5d6;
  height: 54vh;
  overflow-y: scroll;
  padding: 0 2em 0 0;
  margin-top: .7em;
  white-space: pre;
  white-space: pre-wrap;
}
#play-now-modal .instructions-text::-webkit-scrollbar {
    width: 7px;
}
#play-now-modal .instructions-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 2px;
    background-color: #6b6c6d;
}
#play-now-modal .instructions-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #27a4e6;
}



#play-now-modal #btn-play-now-see-inside {
  float: right;
}

#play-now-modal .btn.btn-play-control {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-left: .5em;
  margin: 0 auto;
}

#play-now-modal .btn .button-icon {
  width: auto;
  height: 2em;
  margin-right: 1em;
}
#play-now-modal .btn .button-label {
  display: inline-block;
  line-height: 2em;
}

#play-now-modal .project-img-active { display: none; }
#play-now-modal #btn-play-now-stop { display: none; }
.is-program-running #play-now-modal .project-img-idle {display: block;}
.is-program-running #play-now-modal  #btn-play-now-stop { display: flex; }

.is-program-running #play-now-modal .project-img-active {display: block;}
.is-program-running #play-now-modal .project-img-idle {display: none;}
.is-program-running #play-now-modal #btn-play-now-start {display: none;}


@media screen and (min-height: 375px) {
  #play-now-modal .instructions-text {
    height: 60vh;
  }
}

@media screen and (min-height: 416px) {
  #play-now-modal .bd {
    font-size: 3vh;
  }
}

@media screen and (min-height: 769px) {
}
