.full-screen-modal {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background-color: #5d5e5f;
}
.full-screen-modal *, .full-screen-modal *:before, .full-screen-modal *:after {
  box-sizing: inherit;
}

.full-screen-modal .hd {
  padding: 4vh;
  font-size: 6vh;
  height: 14vh;
}

.full-screen-modal .btn-close-modal {
  border: 0;
  background-color: transparent;
  background-image: url('../images/ui/btn_back.svg');
  width: 6vh;
  height: 6vh;
  background-repeat: no-repeat;
  background-size: 6vh 12vh;
  cursor: hand;
  float: left;
}

.full-screen-modal .btn-close-modal:active {
  background-position: 0 -6vh;
}

.full-screen-modal .project-name {
  text-align: right;
  color: #22a9d8;
  font-family: 'Avenir Next';
  font-weight: bold;
}

.full-screen-modal .btn {
  border-radius: 7px;
  border: 0;
  padding: .75em 1.5em .5em 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  color: #e4e4e5;
  font-family: 'Avenir Next';
  display: inline-flex;
  align-content: center;
  align-items: center;
  margin-right: 2vw;
}

.full-screen-modal .btn.btn-blue[disabled='disabled'] {
  color: #535E62;
  background-image: linear-gradient(to bottom, #686868, #717171);
}

.full-screen-modal .btn.btn-blue {
  background-image: linear-gradient(to bottom, #41c5e9, #2794d1 );
}
.full-screen-modal .btn.btn-blue:active:not([disabled="disabled"]) {
  background-image: linear-gradient(to bottom, #1d84ca, #1d9ec7);
}
.full-screen-modal .btn.btn-red {
  background-image: linear-gradient(to bottom, #f7632a, #de4210);
}
.full-screen-modal .btn.btn-red:active {
  background-image: linear-gradient(to bottom, #c93507, #eb4c0f);
}
.full-screen-modal .btn.btn-grey {
  background-image: linear-gradient(to bottom, #a4a5a6, #939495);
}
.full-screen-modal .btn.btn-grey:active {
  background-image: linear-gradient(to bottom, #939495, #a4a5a6);
}



.show-rename-project-modal #rename-project-modal {
  display: block;
}

#rename-project-modal .bd {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  color: #d4d5d6;
  font-size: 4vh;
}

#rename-project-modal .bd #rename-project-text-box {
  width: 100%;
  margin: .4em 0 .6em 0;
  padding: .4em .5em;
  border-radius: 14px;
  background-color: #d3d4d5;
  outline: none;
}
#rename-project-modal .bd #rename-project-text-box:focus{
  border-radius: 14px;
}

#rename-project-modal .bd .buttons {
  text-align: right;
  font-size: 80%;
}


@media screen and (min-height: 416px) {
  .full-screen-modal .hd {
    font-size: 5vh;
  }
}

@media screen and (min-height: 769px) {
}







