!*.dll
!*.a
!*.dylib
!*.la
!*.so
!*.obj
!*.o
!*.ko
!*.exe
!*.lib
!*.pyc
!SharedAssets/Scripts/ScriptedSequences/ScriptedSequenceEditorColors.asset
!SharedAssets/Scripts/ScriptedSequences/ScriptedSequenceEditorColors.asset.meta
